{% extends 'base.html' %}
{% block content %}
    <section class="admin-list">
        <p> Jesteśmy grupą młodych ludzi z wielkimi marzeniami. Chcemy sprawić,
            by świat stał się lepszy i z wielkim zaangażowaniem zachęcamy innych do tego samego.<br>
            Założyliśmy tę stronę po to, żeby te marzenia urzeczywistnić.
            Mamy nadzieję, że dzięki temu dołożymy swoją cegiełkę do zmiany,
            której efektem będzie myśl - pomaganie jest naprawdę proste.
            <br>
            Dziękujemy wszystkim, którzy pomagają w tworzeniu lepszego jutra.
        </p>
{% endblock %}